@media (min-width: 768px){

.loading {display: none;position: fixed; height: 100%; width: 100%; z-index: 1111110; background-color: rgba(35, 44, 115, 0.5); background: rgba(35, 44, 115, 0.5); color: rgba(35, 44, 115, 0.5);}
.loading img {position: absolute; left: 30%; top: 20%; width:50%; } 
@media only screen and (max-width:640px) {.loading img {position: absolute;left: 0%;top: 0%; width:100%;}
.loading {display: none;position: fixed;height: 100%;width: 100%;z-index: 1111110;background-color: rgba(35, 44, 115, 0.5);background: rgba(35, 44, 115, 0.5);color: rgba(35, 44, 115, 0.5);}
@media only screen and (max-width:480px) {
.loading img {position: absolute;left: 0%;top: 10%; width:100%;}
.loading {display: none;position: fixed;height: 100%;width: 100%;z-index: 1111110;background-color: rgba(35, 44, 115, 0.5);background: rgba(35, 44, 115, 0.5);color: rgba(35, 44, 115, 0.5);}
}



@media only screen and (max-width:320px) {
	.loading img {position: absolute;left: 0%;top: 35%; width:100%;}
		.loading {display: none;position: fixed;height: 100%;width: 100%;z-index: 1111110;background-color: rgba(35, 44, 115, 0.5);background: rgba(35, 44, 115, 0.5);color: rgba(35, 44, 115, 0.5);}
}